<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div id="map" style="height: 500px;"></div>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const socket = io();
        const map = L.map('map').setView([28.6139, 77.2090], 12); // Default Delhi
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

        socket.on('location_update', function(data) {
            L.marker([data.lat, data.lng]).addTo(map).bindPopup('Responder Location').openPopup();
        });
    </script>
</body>
</html>
